.features {
	text-align: center;
}
.features__list {
	text-decoration: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.features__text {
	@include font(400, 14px, 1.71, 0.03em);
	color: $secondary-color;
	text-align: left;
	margin-bottom: 60px;
}
.features__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.features__title--second {
	@include font(700, 14px, 1.14, 0.03em);
	text-transform: uppercase;
	color: $primary-color;

	text-align: left;
	margin-bottom: 10px;
}
.features__icon {
	margin-bottom: 30px;
	background-color: $bcg-color-four;
	width: 100%;
}
