.modal {
	display: block;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 15px;
	margin: 0;
	transform: scale(0.9);

	background: $linear-gradient-color-one;
	border: 1px solid $modal-border-color;

	background-color: $bcg-color-one;
	box-shadow: 0px 1px 3px $team-card-shadow-color-one,
		0px 1px 1px $team-card-shadow-color-two,
		0px 2px 1px $linear-gradient-color-one;
	border-radius: 4px;
}
.button--close {
	position: absolute;
	height: 30px;
	width: 30px;
	top: 8px;
	right: 8px;
	border-radius: 50%;
	border: 1px solid $filter-button-shadow-color-one;
	background-color: $bcg-color-one;
	transition: fill $duration $timing-function;
	& svg:hover,
	& svg:focus {
		fill: $accent-color;
	}
}
.is-hidden {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $linear-gradient-color-one;
	transform: scale(1);
	transition: opacity $duration $timing-function;
}
.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(0.5);
}
.modal__text {
	@include font(700, 20px, 1.15, 0.03em);
	text-align: center;
	color: $primary-color;
	padding: 25px;
	padding-bottom: 10px;
}
.agree-space {
	display: none;
}
.icon-check svg {
	background-color: $accent-color;
}
input {
	outline: none;
	transition: border-color $duration $timing-function;
}
.form__item {
	margin-bottom: 10px;
	&:nth-child(5) {
		margin: 0;
	}
}
.form__input {
	height: 40px;
	width: 90vw;
	outline: none;
	padding-left: 42px;
	border: 1px solid $form-input-border-color;
	border-radius: 4px;
	@include font(400, 14px, 1.14, 0.01em);
	margin-top: 10px;
	&:hover,
	&:focus {
		border-color: $accent-color;
	}
}
.form__label {
	display: inline-block;
	@include font(400, 12px, 1.17, 0.01em);
	color: $secondary-color;
}
.form__wrapper {
	position: relative;
	display: flex;
	margin-top: 4px;
}
.form__icon {
	margin-left: 5px;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-25%);
	transition: fill $duration $timing-function;
	&:hover,
	&:focus {
		fill: $accent-color;
	}
	.form__input:hover + &,
	.form__input:focus + &,
	.form__input:active + & {
		fill: $accent-color;
	}
}
.form__input--comment {
	height: 120px;
	padding: 12px 16px;
	margin-bottom: 20px;
	resize: none;
}
.form__label--agree {
	@include font(400, 14px, 1.17, 0.03em);
	color: $secondary-color;
}
.form__link--contract {
	@include font(400, 14px, 1.17, 0.03em);
	text-decoration-line: underline;
	color: $accent-color;
	padding: 0;
	display: inline-block;
	margin-left: 10px;
}
.form__checkbox--original {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.form__checkbox--custom {
	width: 1em;
	height: 1em;
	border: 1px solid $primary-color;
	border-radius: 1px;
	margin-right: 8px;
	fill: $bcg-color-one;
	background-color: $bcg-color-one;
	flex-shrink: 0;
	flex-grow: 0;
	transition: border-color $duration $timing-function,
		fill $duration $timing-function, background-color $duration $timing-function;
	.form__checkbox--original:checked + & {
		border-color: transparent;
		background-color: $accent-color;
	}
}
.form__button {
	margin: 10px auto 0;
}
