.features {
	text-align: center;
}
.features__list {
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	text-decoration: none;
}
.features__icon {
	background-color: $bcg-color-four;
	width: 100%;
	margin-bottom: 30px;
}
.features__item {
	flex-basis: calc((100% - 20px) / 3);
}
.features__text {
	@include font(400, 14px, 1.71, 0.03em);
	color: $secondary-color;
	text-align: left;
	margin-bottom: 60px;
}
.features__title--second {
	@include font(700, 14px, 1.14, 0.03em);
	text-transform: uppercase;
	color: $primary-color;
	text-align: left;
	margin-bottom: 10px;
}
.activities {
	display: none;
}
