.page-footer {
	margin: 0px;
	background-color: $bcg-color-two;
	padding-top: 60px;
	padding-bottom: 60px;
}
.page-footer .container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;
}
.logo--one {
	font-family: $font-second;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: calc(28 / 24);
	letter-spacing: 0.03em;

	color: $accent-color;
}
.logo--second {
	font-family: $font-second;
	@include font(700, 26px, 1.19, 0.03em);
	color: $bcg-color-one;
}
.logo__link--inverse {
	margin-bottom: 20px;
}
.logo-and-address {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.address__item .address__link--physical {
	@include font(400, 14px, 1.71, 0.03em);
	color: $bcg-color-one;
}
.address__item:not(:last-child) {
	margin-bottom: 8px;
}
.address__item:last-child {
	margin-bottom: 60px;
}
.address__link {
	@include font(400, 14px, 1.71, 0.03em);
	color: $address-link-color;
	transition: color $duration $timing-function;
	&:hover,
	&:focus {
		color: $accent-color;
	}
}
.form__title {
	@include font(700, 14px, 1.14, 0.03em);
	text-transform: uppercase;
	color: $bcg-color-one;
	margin-bottom: 20px;
	text-align: center;
}
.input--mail {
	min-width: 250px;
	height: 50px;
	padding-left: 16px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	color: rgba(255, 255, 255, 0.6);
	background-color: $bcg-color-two;
}
.button__text {
	align-items: center;
	display: flex;
	margin: 9px 28px;
}
.button__icon {
	flex-shrink: 0;
	margin-left: 10px;
}
.form--mail {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
}
.logo-two {
	margin-bottom: auto;
}
.social-media__title--join {
	text-align: center;
	margin-bottom: 20px;
	color: $bcg-color-one;
	@include font(700, 14px, 1.14, 0.03em);
	text-transform: uppercase;
}
.social-media__list--second {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-bottom: 60px;
}
.social-media__link--second {
	display: inline-flex;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	background-color: $social-media-link-bcg-color;
	transition: background-color $duration $timing-function;
	fill: $bcg-color-one;
	&:hover,
	&:focus {
		background-color: $accent-color;
	}
	& svg {
		flex-shrink: 0;
	}
}
