.team {
	background-color: $bcg-color-four;
	text-align: center;
	padding-bottom: 94px;
}
.team__title {
	@include font(700, 36px, 1.17, 0.03em);
	color: $primary-color;
	margin-bottom: 50px;
}
.team__list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.team__item {
	width: 270px;
	margin: auto;
	display: block;

	background-color: $bcg-color-one;

	border-radius: 0px 0px 4px 4px;
	box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
		0px 1px 3px 0px #0000001f;
}
.team__wrapper {
	padding-top: 30px;
	padding-bottom: 30px;
}
.team__name {
	@include font(500, 16px, 1.19, 0.03em);
	text-align: center;
	color: $primary-color;
	background-color: $bcg-color-one;
	margin-bottom: 10px;
}
.team__role {
	@include font(400, 16px, 1.19, 0.03em);
	text-align: center;
	color: $secondary-color;
	background-color: $bcg-color-one;
	margin-bottom: 16px;
}
.social-media__list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.social-media__link--first {
	display: block;
	width: 44px;
	height: 44px;
	background: $bcg-color-one;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	fill: $social-media-icon-fill-color;
	&:hover,
	&:focus {
		background-color: $accent-color;
		fill: $bcg-color-one;
	}
	& svg {
		flex-shrink: 0;
	}
}
