.features {
	text-align: center;
	padding-bottom: 94px;
}
.features__list {
	display: flex;
	gap: 30px;
	justify-content: space-between;
}
.features__item {
	width: 270px;
}
.features__text {
	@include font(400, 14px, 1.71, 0.03em);
	color: $secondary-color;
	text-align: left;

	padding: 0;
}
.features__title--second {
	@include font(700, 14px, 1.14, 0.03em);
	text-transform: uppercase;
	color: $primary-color;
	margin-bottom: 10px;
	text-align: left;
}
.features__wrapper {
	width: 270px;
	height: 120px;
	background-color: $bcg-color-four;
	border-radius: 4px;
	padding: 0;
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
