.filter {
	text-align: center;
}
.filter__list {
	display: inline-flex;
	margin-bottom: 50px;
}
.filter__item:not(:last-child) {
	margin-right: 8px;
}
.button--grey {
	align-items: center;
	background-color: $bcg-color-four;
	border-radius: 4px;
	border: transparent;
	color: $primary-color;
	display: flex;
	font-family: inherit;
	@include font(500, 16px, 1.625, 0.03em);
	justify-content: center;
	padding: 6px 22px;
	text-align: center;
	transition: color $duration $timing-function,
		background-color $duration $timing-function,
		box-shadow $duration $timing-function;

	&:hover,
	&:focus {
		box-shadow: 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014,
			0px 3px 1px 0px #0000001a;

		color: $bcg-color-one;
		background-color: $accent-color;
	}
}
