.page-footer {
	margin: 0;
	background-color: $bcg-color-two;
	padding: 60px 15px;
	padding: 60px 15px;
}
.page-footer .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-right: 15px;
	padding-left: 15px;
	@include tablet {
		flex-direction: row;
		flex-wrap: wrap;
	}
	@include desktop {
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: baseline;
	}
}
.logo-and-address {
	display: flex;
	flex-direction: column;
}
.logo--second {
	font-family: $font-second;
	@include font(700, 24px, 1.17, 0.03em);
	color: $bcg-color-one;
}
.logo__link--inverse {
	margin-bottom: 20px;
}
.address__item .address__link--physical {
	@include font(400, 14px, 1.71, 0.03em);
	color: $bcg-color-one;
	text-align: center;
	@include desktop {
		text-align: left;
	}
}
.address__link {
	@include font(400, 14px, 1.71, 0.03em);
	text-align: center;
	color: $address-link-color;
	transition: color $duration $timing-function;
	@include desktop {
		text-align: left;
	}
	&:hover,
	&:focus {
		color: $accent-color;
	}
}
.address__item:not(:last-child) {
	margin-bottom: 8px;
}
.join-block {
	display: flex;
	flex-direction: column;
	padding-top: 60px;
	@include tablet {
		padding-top: 0;
		padding-bottom: 40px;
		padding-left: 100px;
	}
}
.social-media__list {
	display: flex;
	gap: 10px;
}
.form {
	display: flex;
	flex-direction: column;
	margin-top: 60px;
	@include desktop {
		padding-bottom: 40px;
		margin: auto;
	}
}
.form__title {
	@include font(700, 14px, 1.14, 0.03em);
	text-transform: uppercase;
	color: $bcg-color-one;
	margin-bottom: 20px;
	@include tablet {
		text-align: left;
	}
}
.input--mail {
	width: 290px;
	height: 50px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	color: rgba(255, 255, 255, 0.6);
	background-color: $bcg-color-two;
	padding-left: 16px;
	@include mobile {
		width: 450px;
	}
	@include tablet {
		width: 450px;
	}
	@include desktop {
		width: 358px;
	}
}
.btn-in {
	align-items: center;
	color: $bcg-color-one;
	display: flex;
	@include font(700, 16px, 1.88, 0.06em);
	margin: 9px 28px;
	text-align: center;
}
.btn-in svg {
	flex-shrink: 0;
	margin-left: 10px;
}
.subs-btn {
	margin: 0 auto;
	background-color: $accent-color;
	border-radius: 4px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	height: 50px;
	transition: background-color $duration $timing-function,
		box-shadow $duration $timing-function;
	width: 200px;

	&:hover,
	&:focus {
		background-color: $btn-secondary-accent-color;
	}
}
.form--mail {
	display: flex;
	flex-direction: column;
	gap: 12px;
	@include desktop {
		flex-direction: row;
	}
}
.logo-two {
	margin-bottom: auto;
}
.social-media__title--join {
	color: $bcg-color-one;
	@include font(700, 14px, 1.14, 0.03em);
	margin-bottom: 20px;
	text-transform: uppercase;
}
.social-media__link--second {
	background-color: $social-media-link-bcg-color;
	transition: background-color $duration $timing-function;
	fill: $bcg-color-one;
	&:hover,
	&:focus {
		background-color: $accent-color;
	}
}
