.cards__title {
	@include font(700, 18px, 2, 0.06em);
	color: $primary-color;
	margin-bottom: 4px;
}
.cards__kind {
	@include font(400, 16px, 1.875, 0.03em);
	color: $secondary-color;
	margin: 0;
}
.cards {
	display: flex;
	flex-wrap: wrap;
	gap: 25px;
	align-items: center;
}
.cards__item {
	text-align: left;
	width: calc((100% - 50px) / 3);
}
.cards__wrapper {
	padding: 20px 24px;
	border: 1px solid $portfolio-border-color;
	border-top: none;
}
.cards__link {
	transition: box-shadow $duration $timing-function;
	&:hover,
	&:focus {
		box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f,
			0px 1px 1px 0px #0000001f;
	}
}
.cards__overlay {
	position: relative;
	overflow: hidden;
}
.overlay__text {
	background-color: rgba(33, 150, 243, 0.9);
	color: $bcg-color-one;
	display: block;
	@include font(400, 18px, 1.56, 0.03em);
	height: 100%;
	left: 0;
	overflow: auto;
	padding: 63px 24px;
	position: absolute;
	top: 0;
	transform: translateY(101%);
	transition: transform $duration $timing-function;
	.cards__link:hover &,
	.cards__link:focus & {
		transform: translateY(0%);
	}
}
