.features {
	text-align: center;
}
.features__text {
	@include font(400, 14px, 1.71, 0.03em);
	color: $secondary-color;
	text-align: left;
	margin-bottom: 0;
}
.features__list {
	display: flex;
	justify-content: space-between;
}
.features__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 270px;
}
.features__title--second {
	@include font(700, 14px, 1.14, 0.03em);
	text-transform: uppercase;
	color: $primary-color;
	text-align: left;
	margin-bottom: 10px;
}
.features__background--second {
	width: 270px;
	height: 120px;
	background-color: $bcg-color-four;
	border-radius: 4px;
	padding: 0;
	margin-bottom: 30px;
}
.features__icon {
	margin-bottom: 10px;
	background-color: $bcg-color-four;
	width: 100%;
}
