.logo__link {
	padding: 25px 0;
	margin-right: 93px;
}
.logo--one {
	font-family: $font-second;
	@include font(700, 26px, 1.19, 0.03em);
	color: $accent-color;
}
.logo--two {
	font-family: $font-second;
	@include font(700, 26px, 1.19, 0.03em);
	color: $logo-black;
	margin-bottom: auto;
}
.logo--second {
	font-family: $font-second;
	@include font(700, 26px, 1.19, 0.03em);
	color: $bcg-color-one;
}
.logo__link--footer {
	margin-bottom: 20px;
}
